.stacktable { width: 100%; }
.stacktable .st-head-row { padding-top: 1em; }
.stacktable .st-head-row.st-head-row-main { font-size: 1.5em; padding-top: 0; }
.stacktable .st-key { width: 49%; text-align: right; padding-right: 1%; }
.stacktable .st-val { width: 49%; padding-left: 1%; }

/* RESPONSIVE EXAMPLE */

.stacktable.large-only { display: table; }
.stacktable.small-only { display: none; }
.stacktable.show { display: table; } /*manual override the above*/

@media (max-width: 800px) {
  .stacktable.large-only { display: none; }
  .stacktable.show { display: table; } /*manual override the above*/
  .stacktable.small-only { display: table; }
}